@model IEnumerable<Soat.Masterclass.Labs.Models.Storage.BlobItem>

@{
    ViewBag.Title = "List of Blobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Blobs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { fileName=item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { fileName=item.Name })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
